body {
  font-family: sans-serif;
}
/*
h1 {
  font-weight: 700px;
}*/

.welcome-banner {
  background-image: url('../img/backgrounds/h_img.jpg');
}

.services-banner {
  background-image: url('../img/backgrounds/s_image.jpg');
}

.contact-banner {
  background-image: url('../img/backgrounds/c_image.jpg');
}
